---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/parks?limit=2&stateCode=wv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - UtNeFn3DpN9rOFN0PjKjMhADf9F8CSq2phTOjtCi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '961'
      Allow:
      - Get
    body:
      encoding: ASCII-8BIT
      string: "\t\r\n{\r\n\r\n\"total\":\"9\",\r\n\"limit\":\"2\",\r\n\"start\":\"0\",\t\r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"FAEF5684-83A4-4CF2-A701-60CF8D4014BD\"\r\n\r\n,\"url\":\"https://www.nps.gov/appa/index.htm\"\r\n\r\n,\"fullName\":\"Appalachian
        National Scenic Trail\"\t\t\t\r\n\r\n,\"parkCode\":\"appa\"\r\n\r\n,\"description\":\"The
        Appalachian Trail is a 2,180+ mile long public footpath that traverses the
        scenic, wooded, pastoral, wild, and culturally resonant lands of the Appalachian
        Mountains. Conceived in 1921, built by private citizens, and completed in
        1937, today the trail is managed by the National Park Service, US Forest Service,
        Appalachian Trail Conservancy, numerous state agencies and thousands of volunteers.\"\r\n\r\n,\"latitude\":\r\n\r\n\"40.41029575\"
        \r\n\r\n,\"longitude\":\r\n\r\n\"-76.4337548\" \r\n\r\n,\"latLong\":\"lat:40.41029575,
        long:-76.4337548\"\r\n\r\n,\"activities\":[{\"id\":\"13A57703-BB1A-41A2-94B8-53B692EB7238\",\"name\":\"Astronomy\"},{\"id\":\"D37A0003-8317-4F04-8FB0-4CF0A272E195\",\"name\":\"Stargazing\"},{\"id\":\"A59947B7-3376-49B4-AD02-C0423E08C5F7\",\"name\":\"Camping\"},{\"id\":\"4A58AF13-E8FB-4530-B41A-97DF0B0C77B7\",\"name\":\"Backcountry
        Camping\"},{\"id\":\"C11D3746-5063-4BD0-B245-7178D1AD866C\",\"name\":\"Compass
        and GPS\"},{\"id\":\"89DA72D0-16D6-4C1C-89D4-103D94F1F63D\",\"name\":\"Orienteering\"},{\"id\":\"B33DC9B6-0B7D-4322-BAD7-A13A34C584A3\",\"name\":\"Guided
        Tours\"},{\"id\":\"A0631906-9672-4583-91DE-113B93DB6B6E\",\"name\":\"Self-Guided
        Tours - Walking\"},{\"id\":\"42FD78B9-2B90-4AA9-BC43-F10E9FEA8B5A\",\"name\":\"Hands-On\"},{\"id\":\"31F88DA6-696F-441F-89CF-D7B1415C4CB9\",\"name\":\"Citizen
        Science\"},{\"id\":\"9456A40A-AF75-4AD3-8BE1-79C4A7DBEDFC\",\"name\":\"Volunteer
        Vacation\"},{\"id\":\"BFF8C027-7C8F-480B-A5F8-CD8CE490BFBA\",\"name\":\"Hiking\"},{\"id\":\"7C37B79B-D02D-49EB-9020-3DB8299B748A\",\"name\":\"Backcountry
        Hiking\"},{\"id\":\"45261C0A-00D8-4C27-A1F8-029F933A0D34\",\"name\":\"Front-Country
        Hiking\"},{\"id\":\"DF4A35E0-7983-4A3E-BC47-F37B872B0F25\",\"name\":\"Junior
        Ranger Program\"},{\"id\":\"01D717BC-18BB-4FE4-95BA-6B13AD702038\",\"name\":\"Snowshoeing\"},{\"id\":\"0B685688-3405-4E2A-ABBA-E3069492EC50\",\"name\":\"Wildlife
        Watching\"},{\"id\":\"5A2C91D1-50EC-4B24-8BED-A2E11A1892DF\",\"name\":\"Birdwatching\"}]\r\n,\"topics\":[{\"id\":\"0D00073E-18C3-46E5-8727-2F87B112DDC6\",\"name\":\"Animals\"},{\"id\":\"957EF2BD-AC6C-4B7B-BD9A-87593ADC6691\",\"name\":\"Birds\"},{\"id\":\"EC707104-66CB-466F-90F8-76264F3BE578\",\"name\":\"Horses
        (wild)\"},{\"id\":\"4DC11D06-00F1-4A01-81D0-89CCCCE4FF50\",\"name\":\"Climate
        Change\"},{\"id\":\"41B1A0A3-11FF-4F55-9CB9-034A7E28B087\",\"name\":\"Forests
        and Woodlands\"},{\"id\":\"762170E5-0747-4836-B837-7F2547D3F733\",\"name\":\"Coniferous
        Forests\"},{\"id[...]
