---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/parks?limit&stateCode=pl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - UtNeFn3DpN9rOFN0PjKjMhADf9F8CSq2phTOjtCi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '956'
      Allow:
      - Get
    body:
      encoding: UTF-8
      string: "\t\r\n{\r\n\r\n\"total\":\"0\",\r\n\"limit\":\"\",\r\n\"start\":\"0\",\t\r\n\"data\":[\r\n\r\n]\r\n}\r\n"
  recorded_at: Thu, 17 Jun 2021 20:22:16 GMT
recorded_with: VCR 6.0.0
